

.container{

    width: 50%;
    height: 300px;
    background-color: cadetblue;
    position: relative;
}

.circle{
    width: 200px;
    height: 150px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  
}

.box{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    position: absolute;
    top: 100%;
    left: 50%;
 
}

.fixed{
    width: 200px;
    height: 100px;
    background-color: brown;
    position: fixed;
    right: 0;
    top: 10%;
}

.sticky{
 width: 100%;
    height: 100px;
    background-color: blueviolet;
    position: sticky;
    top: 10px;

}


