


.border{


    border:1px solid black;

}

.width-70{
    width: 700px;
}

.height-50{
    height: 200px;
}

/* css selectors */
/* tagselector tagname*/
/* id selector  #id_name */
/* class selector.classname */

#first-box{
    background-color: #a726c5;
}